.form {
    
}

.submit-btn {
    margin-top: 5%;
    margin-left: 34%;
}

.spreadsheet-id {
    width: 500px;
    margin-top: 10%;
    margin-left: 9%;
}

.form-select {
    margin-left: 9%;
    width: 250px;
}